*{

box-sizing:border-box;

}



body{


margin:0;

font-family:'Segoe UI',Arial;

background:#f1f5f9;

display:flex;

justify-content:center;

padding:30px;


}



.container{


width:100%;

max-width:420px;


}



.logo{


text-align:center;

margin-bottom:20px;


}



.logo img{


width:180px;


}



.card{


background:white;

padding:25px;

border-radius:18px;

box-shadow:

0 10px 30px rgba(0,0,0,.12);


}



h2{


text-align:center;

color:#1e293b;


}



input,button{


width:100%;

padding:13px;

margin-top:12px;

border-radius:10px;

font-size:16px;


}



input{


border:1px solid #ddd;


}



button{


border:none;

cursor:pointer;


}



.buscar{


background:#0057b8;

color:white;


}




.spinner{


display:none;

text-align:center;

margin-top:15px;


}




#resultado{


display:none;

margin-top:20px;

padding:20px;

border-radius:15px;


}



.ok{


background:#dcfce7;

border:2px solid #22c55e;


}



.error{


background:#fee2e2;

border:2px solid #ef4444;


}



.info{


display:none;

background:#16a34a;

color:white;


}



.login{


display:none;

margin-top:20px;

padding-top:15px;

border-top:1px solid #ddd;


}



.volver{


display:block;

text-align:center;

margin-top:20px;

text-decoration:none;

color:#0057b8;


}